################################################################################################################
#
# Product: Remedy Single Sign-On for TrueSight
#
# Silent Installation Options File Template
# This file is used to configure the Remedy Single Sign-On for TrueSight Silent Installation.
#
# To install the Remedy Single Sign-On for TrueSight silently run the command:
# Format: ./setup.bin -i silent -DOPTIONS_FILE="<Full File Path>/tsso_silent.options"
# Example: ./setup.bin -i silent -DOPTIONS_FILE="/opt/Disk1/tsso_silent.options"
#
################################################################################################################


################################################################################################################
#
# Remedy Single Sign-On for TrueSight Installation Location
#
# This is the installation location  of the Remedy Single Sign-On for TrueSight. Specify a valid directory 
# into which the Remedy Single Sign-On for TrueSight should be installed, using the format:
#   -P installLocation=directory
# where "directory" is the installation location.
#
################################################################################################################
-P installLocation=/opt/bmc/TrueSightRSSO


################################################################################################################
#
# Installing Features
# 
# Add the Remedy Single Sign-On for TrueSight component to install.
# To install Remedy Single Sign-On for TrueSight, add the line: 
#	-A featureTrueSightRSSO
#
################################################################################################################
# Install Remedy Single Sign-On for TrueSight
-A featureTrueSightRSSO

################################################################################################################
# Remedy Single Sign-On for TrueSight Installer Configuration
#
# When installing the Remedy Single Sign-On for TrueSight, you need to enter:
#	- DB_TYPE - Database type (Default Database type is Postgres)
#	- PG_TYPE - PostgreSQL Type (0=PostgreSQL - Packaged, 1=PostgreSQL - External)
#	- DB_IS_USER_EXIST - Database user exist (false for Packaged Database and External Database with Create New User option, true for External Database with Use Existing user option)
#	- DB_HOST - Database Host name  (PostgreSQL Packaged) localhost
#						   			(PostgreSQL External) Computer on which the existing database is running.)
#	- DB_POSTGRES_DBNAME - Database name (default rsso)
#   - DB_PORT - Database Port (default port 5438)
#   - DB_ADMIN - Database Admin User Name
#   - DB_ADMIN_PWD - Database Admin Password
#   - DB_ADMIN_PWD_CNFRM - Database Admin Confirm Password
#   - DB_USER - Database User Name
#   - DB_USER_PWD - Database Password
#   - DB_USER_PWD_CNFRM - Database Confirm Password
#   - TOMCAT_HTTP_PORT - Remedy Single Sign-On HTTP Port (default port 8088)
#   - TOMCAT_HTTPS_PORT - Remedy Single Sign-On HTTPS Port (default port 8048)
#	- COOKIE_DOMAIN is the domain name of the system. For example: if host name is xxx.bmc.com 
#	  then COOKIE_DOMAIN will be bmc.com
#   - SERVER_FQDN - Remedy Single Sign-On Localhost Fully Qualified Domain Name (FQDN)
#
# Note : If installing Remedy Single Sign-On for TrueSight using External Database with existing database user then provide only Database User Name and Database Password
################################################################################################################

################################################################################################################
#
# User Input Properties
#
# The format for entering user input properties is:
#   -J name=value
# where "name" is the name of the property and "value" is the value.
#
################################################################################################################
-J DB_TYPE=Postgres
#PG_TYPE equals to 0 refers to 'PostgreSQL - Packaged' and PG_TYPE equals to 1 refers to 'PostgreSQL - External'
-J PG_TYPE=0
-J DB_IS_USER_EXIST=false
-J DB_HOST=localhost
-J DB_POSTGRES_DBNAME=rsso
-J DB_PORT=5438
-J DB_ADMIN=postgres
-J DB_ADMIN_PWD={{dbpass | default('password') }}
-J DB_ADMIN_PWD_CNFRM={{dbpass | default('password') }}
-J DB_USER=rsso_user
-J DB_USER_PWD={{dbuserpass | default('password') }}
-J DB_USER_PWD_CNFRM={{dbuserpass | default('password') }}
-J TOMCAT_HTTP_PORT=8088
-J TOMCAT_HTTPS_PORT=8048
#COOKIE_DOMAIN is the domain name of the system. For example: if host name is xxx.bmc.com then COOKIE_DOMAIN will be bmc.com
-J COOKIE_DOMAIN={{ ansible_domain }}
#SERVER_FQDN is the FQDN of the system where you are installing Remedy Single Sign-On.
-J SERVER_FQDN={{ansible_fqdn}}
