################################################################################################################
#
# Product: BMC TrueSight Infrastructure Management Server Installer
#
# Silent Installation Options File Template
# This file is used to configure the BMC TrueSight Infrastructure Management Server Silent Installation.
#
# To install the BMC TrueSight Infrastructure Management Server silently run the command:
# Format: install.cmd -i silent -DOPTIONS_FILE="<Full File Path>\server_install.options"
# Example (Windows): install.cmd -i silent -DOPTIONS_FILE="C:\Disk1\server_install.options"
# Example (Linux): ./install.sh -i silent -DOPTIONS_FILE="/Disk1/server_install.options"

################################################################################################################

# **************************************************************************************************
# Default InstallLocation for Windows should be passed as C:\Program Files\BMC Software\TrueSight
# Default InstallLocation for Linux should be passed as opt/bmc/TrueSight
# In case of installing BMC TrueSight Infrastructure Management in Application High-Availability mode
# installLocation should be a symbolic link pointing to shared disk.
# installLocation should not contain double quotes
-P installLocation=/opt/bmc/TrueSight
-A PRIMARY

# **************************************************************************************************
# Firewall Configuration options for Windows environment, this parameter is ignored in case of Linux environment. 
# Configure firewall to create Inbound Rule for BMC TrueSight Infrastructure Management Processes for windows OS.
# FIREWALL_CONFIGURATION_MODE=FIREWALL_AUTO_CONFIGURE : Automatically configure firewall. This needs firewall Service On.
# FIREWALL_CONFIGURATION_MODE=FIREWALL_MANUAL_CONFIGURE : User need to manually configure the firewall as per the documentation
-J FIREWALL_CONFIGURATION_MODE=FIREWALL_AUTO_CONFIGURE

#******************************************************************************************************
# Central Server Deployment options
#******************************************************************************************************
# set DEPLOYMENT_ENVIRONMENT=SINGLE_SERVER if you want to configure Single Server environment
# You need to choose one of following DEPLOYMENT_ENVIRONMENT Options only if CONFIGURE_CLOUD_VISTA_INTEGRATIONS OR CONFIGURE_DSIM is selected
# set DEPLOYMENT_ENVIRONMENT=CENTRAL_SERVER if you want to configure Central Server environment
# set DEPLOYMENT_ENVIRONMENT=CHILD_SERVER if you want to configure Child Server environment, 
# you will need to provide central server information for Child Server
# -J DEPLOYMENT_ENVIRONMENT=SINGLE_SERVER

# TSIM Child Server deployment options
# If you set deployment type as Child Server, you need to provide Central Router Deployment options
# Central Router Deployment options. 
# Enable these options only if Environment Deployment type is Child server
#-J CENTRAL_ROUTER_SERVER_HOSTNAME=
#-J CENTRAL_ROUTER_PORT= <Apache_Port | Apache_SSL_Port>
#-J CENTRAL_ROUTER_SERVER_PROTOCOL=<HTTP | HTTPS>

#***************************************************************************************************#
# Optional Component Selection 
# Uncomment the options below to configure
# Each option has a corresponding section of configuration that needs updating
# Default = false
#***************************************************************************************************#

#-J CONFIGURE_SERVER_PORTS=false
#-J CONFIGURE_DR_INFORMATION=false
#-J CONFIGURE_CELL_INFORMATION=false
#-J CONFIGURE_ADMIN_INFORMATION=true
#-J CONFIGURE_ORACLE_DATABASE=false
#-J CONFIGURE_CMDB_INTEGRATIONS=false
#-J CONFIGURE_CLOUD_VISTA_INTEGRATIONS=false
#-J CONFIGURE_DSIM=false

#***************************************************************************************************#
# Port Configuration options,
# These options should be provided only in case of fresh installation
# when you want to customize the ports, 
# Uncomment CONFIGURE_SERVER_PORTS=true
# Uncomment all of the following while customizing any ports.
# While installing the Infrastructure Management server as a non-root user, you need to change the port numbers for Apache and Apache SSL between 1025 to 65535 
# because the non-root user does not have permissions to use ports below or equal to 1024.
#***************************************************************************************************#
#-J Apache_Port=80
#-J Apache_SSL_Port=443
#-J IBRSD_Port=3115
#-J IAS_PORT=3084
#-J RMI_Port=1099
#-J AgentController_Port=12123
#-J CACHE_SERVER_PORT=30235
#-J JBoss_JMS_Port=8093
#-J Tomcat_Port=8005

#********************************************************************************************************
# Disaster Recovery (DR) Options
# Should be configured only if CONFIGURE_DR_INFORMATION=true
# Should be commented if the Server installation is in Application High-Availability Mode.
#********************************************************************************************************
#-J DR_HOSTNAME=<DR Host Name Alias>


# **************************************************************************************************#
# ADMIN CELL & MCELL OPTIONS
# Should be configured only if CONFIGURE_CELL_INFORMATION=true
# **************************************************************************************************#

# -J SIM_CELL_INSTANCE_NAME=<SIM cell instance name (pncell_<hostname>>
# -J SIM_CELL_PORT=1828
# -J SIM_CELL_ENC_KEY=mc
# -J ADMIN_CELL_PORT=1827
# -J ADMIN_CELL_ENC_KEY=mc

# **************************************************************************************************#
# ADMINISTRATOR INFO OPTIONS
# Should be configured only if CONFIGURE_ADMIN_INFORMATION=true
# **************************************************************************************************#

# -J SENDER_EMAIL_ID=<Sender email id>
# -J ADMIN_EMAIL_ID=<Administrator email id>
# -J SMTP_SERVER_NAME=<SMTP Server name>

# **************************************************************************************************************#
# ORACLE SUPPORT OPTIONS
# Should be configured only if CONFIGURE_ORACLE_DATABASE=true
# In case Oracle normal Db is used, then Oracle configuration parameters values are mandatory 
# In case Oracle RAC DB is used, set INTEGRATE_ORACLE_RAC=true and Oracle RAC configuration parameters are mandatory
# **************************************************************************************************************#
# Oracle configuration
# -J ORACLE_HOSTNAME=<hostname>
# -J ORACLE_PORT=1521
# -J ORACLE_SID=<sid>
# -J ORACLE_USER=<Oracle Username>
# -J ORACLE_PASSWORD=<Oracle Password>
# -J ORACLE_CONFIRM_PASSWORD=<Oracle Password>
# -J ORACLE_REPORT_USERNAME=<Report USer Name>
# -J ORACLE_REPORT_PASSWORD=<Report User Password>

# **************************************************************************************************#
# If INTEGRATE_ORACLE_RAC=true then parameteres need to be provided -
# -J ORACLE_RAC_NODES_COUNT=1
# -J RAC_SCAN_HOSTNAME_OR_IP_ADDRESS_0=<RAC_SCAN_HOST>
# -J RAC_SCAN_PORT_0=<RAC SCAN port>
# -J ORACLE_RAC_HOST_PORT_LIST=;<RAC_SCAN_HOSTNAME_OR_IP_ADDRESS_0>:<RAC_SCAN_PORT_0>
# **************************************************************************************************#
# Oracle RAC configuration
# -J INTEGRATE_ORACLE_RAC=true
# -J ORACLE_RAC_NODES_COUNT=1
# -J RAC_SCAN_HOSTNAME_OR_IP_ADDRESS_0=<RAC_SCAN_HOST>
# -J RAC_SCAN_PORT_0=<RAC SCAN port>
# -J ORACLE_RAC_HOST_PORT_LIST=;<RAC_SCAN_HOSTNAME_OR_IP_ADDRESS_0>:<RAC_SCAN_PORT_0>

# ORACLE TABLESPACE AND USER CREATE OPTIONS
# BMC provides a script, run_oracle_db_scripts.sql, that automatically creates the
# required tablespaces and users.  Use the script OR this option, not both
# Please review the Getting Started Guide for more information.
# -J CREATE_ORACLE_TABLESPACE=true
# This is the tableSpace that will be created in Oracle DB
# -J TABLE_SPACE_NAME=PNET_TS
# -J TEMP_TABLE_SPACE_NAME=PNET_TS_TMP
# Path of the datafile to be created on Oracle Server. 
# -J TABLE_SPACE_DATAFILE_NAME=<table space datafile name. It should have the exact path>
# -J TEMP_TABLE_SPACE_DATAFILE_NAME=<temp table space datafile name. It should have the exact path>
# Based on deployment type, the tablespace size will be determined.(Small-15 GB Medium/Large-30 GB) 
# -J BPPM_DB_DEPLOYMENT_TYPE=<small|medium|large>
# SYSDBA privileges are required to create tablespace users and provide grants to the user. 
# -J DBA_USERNAME=<DBA user having sysdba priviledge>
# -J DBA_PASSWD=<password>
# -J CONFIRM_DBA_PASSWD=<confirm password>

# **************************************************************************************************#
# CMDB OPTIONS
# Should be configured only if CONFIGURE_CMDB_INTEGRATIONS=true
# **************************************************************************************************#

# -J NEW_CMDB_HOSTNAME=<CMDB server Host name>
# -J NEW_CMDB_PORT=<CMDB Server port>
# -J NEW_CMDB_LOGIN=<CMDB User Name>
# -J NEW_CMDB_PASSWORD=<CMDB Server password>


# For using Bladelogic with UDDI, uncomment options below 
# UDDI OPTIONS
#-J CONFIGURE_UDDI_SERVER=true
#-J UDDI_HOSTNAME=<UDDI server Host name>
#-J UDDI_PORT=<UDDI Server port>
#-J UDDI_LOGIN=<UDDI User Name>
#-J UDDI_PASSWORD=<UDDI Server password>


# **************************************************************************************************#
# CLM-INTEGRATE Flow Related options. Will be executed through maintenence tool
# Should be configured only if MULTISERVER_SUPPORT=true
# **************************************************************************************************#
# Multi-Server CLI deployment options
# If you want to convert AllInOne Server to child server, you need to provide Central Server Deployment options
# After running multi-server cli on AllInOne server, set the below option to run the multi server cli on central server.This time you need to provide child ServerName and other details.
#-J MULTISERVER_SUPPORT=true
#-J MULTISERVER_SERVERNAME=
#-J MULTISERVER_PORT= <Apache_Port | Apache_SSL_Port>
#-J MULTISERVER_PROTOCOL=<HTTP | HTTPS>

# **************************************************************************************************#
# Confirm Fully Qualified Domain Name (FQDN)
# Other BMC TrueSight components use this address to connect to the TrueSight Infrastructure Management Server. Ensure that other components can connect to this address.
# It is mandatory field need to be provided at every fresh standlone installation
# **************************************************************************************************#
-J TRUESIGHT_HOSTNAME_FQDN={{ ansible_fqdn }}
-J MINIMAL=true
