################################################################################################################
#
# Product: TrueSight Presentation Server Installer
#
# Silent Installation Options File Template
# This file is used to configure the TrueSight Presentation Server Silent Installation.
#
# To install the TrueSight Presentation Server silently run the command:
# Format: ./setup.bin -i silent -DOPTIONS_FILE="<Full File Path>/server-silent-options-linux.txt"
# Example:./setup.bin -i silent -DOPTIONS_FILE="/tmp/TrueSightPServer/Disk1/server-silent-options-linux.txt"
#
################################################################################################################

################################################################################################################
# TrueSight Presentation Server Installation Location
#
# This is the installation location of the TrueSight Presentation Server. Specify a valid directory 
# into which the TrueSight Presentation Server should be installed, using the format:
#   -P installLocation=directory
# where "directory" is the installation location.
#################################################################################################################
-P installLocation=/opt/bmc/TrueSightPServer


#################################################################################################################
# Installing Features
# 
# Add the TrueSight Presentation Server component to install.
# To install TrueSight Presentation Server, add the line: 
#	-A featureTrueSightPServer
#
################################################################################################################
# Install TrueSight Presentation Server
-A featureTrueSightPServer

################################################################################################################
# TrueSight Presentation Server Installer Configuration
#
# When installing the Presentation Server, you need to enter:
#	- To choose the installation type (true=Typical Installation, false=Custom Installation)
#   - TrueSight Localhost Fully Qualified Domain Name (FQDN)
#   - TrueSight TrueSight High Availability status (0=Disabled,1=Enabled)
#   - TrueSight High Availability type (1=Primary,2=Secondary) (default is 0)
#   - TrueSight High Availability Server Pair Name the name of the primary server (Default truesight)
#   - TrueSight High Availability primary cache replication port (Default port 7800) (For primary only)
#   - TrueSight High Availability primary control port (Default port 8800)(For primary only)
#   - TrueSight High Availability secondary server FQND (For primary only)
#   - TrueSight High Availability secondary database port (Default port 5432) (For primary only)
#   - TrueSight High Availability secondary cache replication port(Default port 7800) (For primary only)
#   - TrueSight High Availability secondary control port(Default port 8800) (For primary only)
#   - TrueSight High Availability configuration file (For secondary only)
#   - TrueSight HTTP Port (default port 8080)
#   - TrueSight HTTPS Port (default port 8043)
#   - TrueSight elastic REST Port (default port 9200)
#   - TrueSight elastic client Port (default port 9300)
#   - TrueSight cell gateway Port (default port 1900)
#   - Database User Name
#   - Database Password
#   - Database Confirm Password
#   - Database Port (default port 5432)
#   - Remedy SSO server name (FQDN)
#   - Remedy SSO Port (default port 8048)
#   - Remedy SSO Password (Admin password)
#   - Remedy SSO Protocol (default protocol https)	
#   - IS SSO SERVER CERTIFICATE (default false)
#   - SSO CERTIFICATE HOME (Path of the HA Certificate)
#
# Note: Passwords must be encrypted by the Maintenance Tool.
# 	Password encryption -- GUI 
# 		1. In the folder with the Presentation Server installation files, go to the Disk1/utility folder, and run the TrueSightPServerMaintenanceTool.sh file. 
# 		2. On the Encrypt tab, enter your password in the Password and Confirm Password fields and click Encrypt. 
# 
# 	Password encryption -- command line 
# 		1. Open a command prompt and navigate to the Disk1\utility folder (with the TrueSight Presentation Server installation files). 
# 		2. Run the following command, entering your password for the -password and -confirm_password options: 
# 		3. TrueSightPServerMaintenanceTool.sh -silent -encrypt -encrypt -password=<password> -confirm_password=<password> 
#		4. If the password contains special characters, add single quotation marks, e.g. '$123456$'.
#
################################################################################################################
-J QUICK_INSTALL_MODE=true
-J ASSO_SERVER_MODE=false
-J TrueSight_localhost_fqdn={{ansible_fqdn}}
-J TrueSight_high_availability_enabled=0
-J TrueSight_high_availability_type=1
-J TrueSight_high_availability_server_pair_name=truesight
-J TrueSight_high_availability_primary_cache_port=7800
-J TrueSight_high_availability_primary_control_port=8800
-J TrueSight_high_availability_secondary_server_fqdn=
-J TrueSight_high_availability_secondary_database_port=5432
-J TrueSight_high_availability_secondary_cache_replication_port=7800
-J TrueSight_high_availability_secondary_control_port=8800
-J TrueSight_high_availability_configuration_file=
-J TrueSight_tomcat_http_port=8080
-J TrueSight_tomcat_https_port=8043
-J TrueSight_ElasticSearch_rest_port=9200
-J TrueSight_ElasticSearch_client_port=9300
-J TrueSight_cell_gateway_port=1900
-J TrueSight_database_username={{ dbuser | default("tsps") }}
-J TrueSight_database_password={{ dbpassword_encrypted }}
-J TrueSight_database_confirm_password={{ dbpassword_encrypted }}
-J TrueSight_database_port=5432
-J TrueSight_sso_hostname={{ hostvars[groups['rsso'][0]]['ansible_fqdn'] }}
-J TrueSight_sso_port=8048
-J TrueSight_sso_password={{ rssopassword_encrypted }}
-J TrueSight_sso_protocol=https
-J IS_SSO_SERVER_CERTIFICATE=false
-J SSO_CERTIFICATE_HOME=
-J MINIMAL=true
